.education {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .education .educationTitle {
    text-align: center;
    color: #000000;
    font-size: 60px;
    font-weight: bolder;
  }
  
  .educationList {
    width: 70vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }
  
  /* MENU ITEM STYLING */
  
  .educationItem {
    border-radius: 15px;
    width: 400px;
    height: 400px;
    margin: 40px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  .education:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  
  .educationItem .bgImage {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .educationItem h1 {
    font-size: 35px;
    text-align: center;
  }
  .educationItem p {
    font-size: 25px;
    text-align: center;
  }
  
  @media only screen and (max-width: 1300px) {
    .educationList {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .educationList {
      grid-template-columns: 1fr;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .educationList {
      width: 100%;
    }
    .educationItem {
      width: 300px;
      height: 300px;
    }
  }